body{
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #D8DFE8;
}

.logo{
    padding: 15px;
}

main{
    width: 940px;
    margin: auto;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#entradaTexto {
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    resize: none;
    color: #0A3871;
    background-color: #D8DFE8;
    width: 500px; 
    height: 500px;
    max-width: 100%;
    border: none;
}

.botones{
    grid-area: botones;
}

.informacion{
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #495057;
}

.botonEncriptar{
    margin-right: 20px;
    width:25%;
    height: 45px;
    font-size: 16px;
    color:#FFFFFF;
    background: #0A3871;
    font-family: 'Montserrat', sans-serif;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

.botonEncriptar:hover{
    background: #67808E;
    color: #000000;
    font-weight: bold;
}

.botonDesencriptar{
    width: 25%;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    background-color: #D8DFE8;
    font-family: 'Montserrat', sans-serif;
    border-color: #0A3871;
    border-radius: 10px;
    cursor: pointer;
}

.botonDesencriptar:hover{
    background: #67808E;
    color: #000000;
}

.botonCopiar{
    align-items: center;
    width:140px;
    height: 33px;
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-color: #0A3871;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 80px;
    margin-bottom: -145px ;
}

.botonCopiar:hover{
    background: black;
    color: white;
    border-color: black;
}

.salidaConImagen{
    align-items: center;
    align-content: center;
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); 
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    text-align: center;
    width: 300px;
    height: 600px;
    position: absolute;
    margin-left: 700px;
    margin-top: -650px;
    
}

.munieco{
    width: 90%;
    height:auto;
    align-items: center;
    display: inline-block;
}

.sinMensaje{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 3%;
}

.mensajeTextoVacio{
    padding: 5%;
}

#salidaTexto{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    border: none;
    resize: none;
    font-size: 24px;
    color:#0A3871;
    width: 300px;
    height: 400px;
}

footer{
    background-color: #0A3871;
    width: 100%;
    text-align: center;  
    color: #FFFFFF;
    font-size: 10px;
    bottom: 0;
    position:fixed;
    margin-top: 25px;
    padding: 10px;    
}

