*{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #F3F5FC;
}

.logo{
    padding: 15px;
    width: 5%;
}

main{
    display: flex;
    justify-content: space-around;
    margin: 0 0 50px 80px;
}

#entradaTexto {
    border: none;
    color: #0A3871;
    resize: none;
    text-transform: lowercase;
    margin-top: 30px;
}

::placeholder {color: #0A3871;}
    #entradaTexto:focus{
        outline: none;
    }

.informacion{
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #495057;
}

.botones{
    display: flex;
    align-items: center;
}

.botonEncriptar{
    width:328px;
    height: 67px;
    color:#FFFFFF;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 15px;
    cursor: pointer;
}

.botonEncriptar:hover{
    background: #67808E;
    color: #000000;
}

.botonDesencriptar{
    width: 328px;
    height: 67px;
    color: #0A3871;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 30px;
}

.botonDesencriptar:hover{
    background: #67808E;
    color: #000000;
}

.salidaConImagen{
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;
    color: #0A3871;
    margin-top: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 400px;
}

.salidaConImagen:focus{
    outline: none;
}

.munieco{
    width: 90%;
    height:auto;
    margin-left: 15px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.sinMensaje{
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 3%;
}

.mensajeTextoVacio{
    padding: 5%;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 18px;
}

.textareaSalida{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border-radius:30px;
    padding: 10px;
}

#salidaTexto{
    border: none;
    resize: none;
    color:#0A3871;
    background-color: #FFFFFF;
}

#salidaTexto:focus{
    outline: none;
}

.botonCopiar{
    width:300px;
    height: 67px;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    /* position: relative;
    margin-left: 50px;
    margin-top: 480px; */
}

.botonCopiar:hover{
    background: #67808E;
    color: #FFFFFF;
    border-color: #0A3871;
}

footer{
    background-color: #0A3871;
    text-align: center;  
    color: #FFFFFF;
    font-size: 12px;
    bottom: 0;
    padding: 10px;    
}

footer p{
    background-color: #0A3871;
}

@media screen and (max-width: 992px){

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .logo{
        padding: 15px;
        width: 10%;
    }

    .salidaConImagen{
        width: 80%;
    }

    .munieco{
        display: none;
    }

    .sinMensaje{
        border-radius: 24px;
    }

    .botonCopiar, .botonDesencriptar, .botonEncriptar{
        font-size: 16px;
    }

    .botonCopiar{
        width: 100%;
    }

}

@media screen and (max-width: 768px){

    main{
        margin: auto;
    }

    .logo{
        padding: 10px;
        width: 15%;
    }

    #entradaTexto{
        padding-left: 10px;
        width: 100%;
    }

    .botones{
        flex-direction: column;
        margin: 0 5px;
    }

    .botonDesencriptar{
        margin: 10px 0 0 0;
    }

    .salidaConImagen{
        margin-bottom: 20px;
    }

    .sinMensaje, .mensajeTextoVacio{
        line-height: 120%;
    }

}